---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Plus from "../svg/icons/plus.svg";
import Minus from "../svg/icons/minus.svg";
import Lock from "../svg/icons/lock.svg";
import Edit from "../svg/icons/edit.svg";
import Button2 from "../components/Button2.astro";
import Logo from "../svg/logo/logo.svg";
import LogoMobile from "../svg/logo/logo-mobile.svg";
---

<Layout>
  <header>
    <div
      class="desktop-header lg:flex lg:justify-between lg:w-full lg:items-center px-header-x py-header-y"
    >
      <div class="pr-20">
        <a href="/"><img src={Logo} alt="logo" /></a>
      </div>
      <a
        class="navigation border-b-2 hover:border-b-0 border-black"
        href="/productlist/"
      >
        Continue shopping</a
      >
    </div>
    <div>
      <div
        class="mobile-header lg:hidden flex justify-between w-full items-center px-header-x py-header-y"
      >
        <div>
          <img src={LogoMobile} alt="logo mobile" />
        </div>
        <a
          class="navigation border-b-2 border-black uppercase"
          href="/productlist/">Continue shopping</a
        >
      </div>
    </div>
  </header>
  <div>
    <section
      class="px-body-padding-x md:pt-body-padding-y md:grid md:grid-cols-3"
    >
      <h1 class="border-b-2 border-line-checkout pb-2 md:col-span-3">
        checkout
      </h1>

      <aside class="md:col-start-3 lg:pl-10 md:pl-space-xs details">
        <h5 class=" pb-space-m">
          order summary
        </h5>
        <div
          class="border-t-2 border-line-checkout flex py-space-review-order justify-between"
        >
          <p>Mompirone Barbera d’Ast</p>
          <h6>200 DKK</h6>
        </div>
        <div class="flex pb-space-review-order justify-between">
          <p>Mompirone Barbera d’Ast</p>
          <h6>200 DKK</h6>
        </div>
        <div class="flex pb-space-review-order justify-between">
          <h6>Shipping</h6>
          <h6>59 dkk</h6>
        </div>
        <div
          class="border-t-2 border-line-checkout flex pt-space-m-l justify-between"
        >
          <h6>total value</h6>
          <h6>459 dkk</h6>
        </div>
        <p>INC. TAX</p>
      </aside>
      <div class="md:col-span-2 md:row-start-2">
        <div
          class="details flex justify-between border-b-2 border-line-checkout pb-space-m"
        >
          <h4>1. shipping details</h4>
          <img class="minus cursor-pointer" src={Minus} alt="minus" />
          <img class="plus hidden cursor-pointer" src={Plus} alt="plus" />
        </div>

        <form
          action=""
          autocomplete="on"
          class="shipping-details px-body-padding-x lg:px-20"
          onsubmit="signup(event)"
        >
          <div class="grid">
            <div class="md:grid md:grid-cols-2 gap-4">
              <div class="flex flex-col">
                <label for="firstname"> First name*</label>
                <input
                  type="text"
                  id="firstname"
                  name="firstname"
                  placeholder="Please enter first name"
                  required
                />
              </div>
              <div class="flex flex-col">
                <label for="lastname"> Last name*</label>
                <input
                  type="text"
                  id="lastname"
                  name="lastname"
                  placeholder="Please enter last name"
                  required
                />
              </div>
            </div>

            <div class="flex flex-col">
              <label for="email"> E-mail*</label>
              <input
                type="text"
                id="email"
                name="email"
                placeholder="Example@email.dk"
                required
                class="lg:w-[50%]"
              />
            </div>
            <div class="flex flex-col">
              <label for="phone">Phone (optional)</label>
              <input
                type="tel"
                name="phone"
                id="phone"
                placeholder="+45 00 00 00"
                class="lg:w-[50%]"
              />
            </div>

            <label for="address">Address*</label>
            <input
              type="text"
              id="address"
              name="address"
              placeholder="Home address"
              class="lg:w-[50%]"
            />
            <label for="secondaddress"> Second address (optional)</label>
            <input
              type="text"
              id="secondaddress"
              name="secondaddress"
              placeholder="Floor, Apartment, etc."
              class="lg:w-[50%]"
            />
            <div class="md:grid md:grid-cols-2 md:gap-4">
              <div class="flex flex-col">
                <label for="city">City*</label>
                <input
                  type="text"
                  id="city"
                  name="city"
                  placeholder="Please enter your city"
                />
              </div>
              <div class="flex flex-col">
                <label for="postcode">Postcode*</label>
                <input
                  type="text"
                  id="postcode"
                  name="postcode"
                  pattern="[0-9]{4}"
                  maxlength="4"
                  placeholder="0000"
                  class="w-[50%]"
                />
              </div>
            </div>
            <div class="md:grid md:grid-cols-2 md:gap-4">
              <div class="flex flex-col">
                <label for="region">Region*</label>
                <input
                  type="text"
                  id="region"
                  name="region"
                  placeholder="Please enter your region"
                />
              </div>
              <div class="flex flex-col">
                <label for="country">Country</label>
                <input
                  type="text"
                  id="country"
                  name="country"
                  disabled
                  placeholder="Denmark"
                />
                <p class="pt-space-3xs text-display-blue">
                  (We only ship within Denmark)
                </p>
              </div>
            </div>
          </div>
          <div class="grid place-content-center md:place-content-start">
            <input type="submit" value="Continue" class="btn continue-one" />
          </div>
        </form>
      </div>
    </section>

    <section class="px-body-padding-x md:grid md:grid-cols-3">
      <div
        class="details flex justify-between border-b-2 border-line-checkout md:col-span-2"
      >
        <h4 class="pb-space-m">2. payment</h4>
        <img class="plus2 cursor-pointer" src={Plus} alt="plus" />
        <img class="minus2 hidden cursor-pointer" src={Minus} alt="minus" />
      </div>
      <form
        action=""
        autocomplete="on"
        class="payment hidden px-body-padding-x md:col-span-2 md:px-20"
      >
        <div class="grid">
          <label for="card">Card number*</label>
          <input
            type="text"
            id="card"
            name="card"
            maxlength="19"
            inputmode="numeric"
            pattern="[0-9\s]{13,19}"
            placeholder="XXXX XXXX XXXX XXXX"
            required
            class="lg:w-[60%]"
          />
          <label for="expdate">Exp. date*</label>
          <div class="exp-wrapper">
            <input
              autocomplete="off"
              class="exp w-[20%]"
              id="expdate"
              maxlength="2"
              pattern="[0-9]*"
              inputmode="numeric"
              placeholder="MM"
              type="text"
              data-pattern-validate
            />
            <input
              autocomplete="off"
              class="exp w-[20%]"
              id="expdate"
              maxlength="2"
              pattern="[0-9]*"
              inputmode="numeric"
              placeholder="YY"
              type="text"
              data-pattern-validate
            />
          </div>

          <label for="ccv">CCV*</label>
          <input
            type="text"
            id="ccv"
            name="ccv"
            placeholder="CCV"
            maxlength="3"
            pattern="[0-9]*"
            required
            class="w-[60%] lg:w-[40%]"
          />
          <label for="nameOnCard">Name on card*</label>
          <input
            type="text"
            id="nameOnCard"
            name="name"
            placeholder="Enter cardholder name"
            class="lg:w-[60%]"
          />
          <div class="flex pt-space-xs">
            <p class="text-form-inputandlabel pl-space-2xs pt-space-2xs">
              Secure payment
            </p>
            <img class="pl-space-2xs pt-space-3xs" src={Lock} alt="lock" />
          </div>
          <label for="billingadd">Billing address*</label>

          <div class="flex">
            <input
              class="regular-checkbox"
              type="checkbox"
              checked="checked"
              id="billingadd"
              name="billingadd"
            />
            <p class="text-form-inputandlabel pl-3">
              Shipping address same as billing
            </p>
          </div>
        </div>
        <div class="grid place-content-center md:place-content-start">
          <input type="submit" value="Continue" class="btn continue-two" />
        </div>
      </form>
    </section>

    <section class="px-body-padding-x pb-20 md:grid md:grid-cols-3">
      <div
        class="details flex justify-between border-b-2 border-line-checkout md:col-span-2"
      >
        <h4 class="pb-space-m">3. Review and order</h4>
        <img class="cursor-pointer plus3" src={Plus} alt="plus" />
        <img class="minus3 hidden cursor-pointer" src={Minus} alt="minus" />
      </div>
      <div class="order px-body-padding-x hidden col-span-2">
        <div class="grid text-form-inputandlabel pt-space-m-l">
          <div class="flex justify-between pb-space-review-order">
            <h6>shipping details</h6>
            <img src={Edit} alt="edit" />
          </div>
          <div class="[&_p]:pb-space-review-order">
            <p>Full Name</p>
            <p>Example@email.com</p>
            <p>Phone number</p>
          </div>
          <div class="pb-space-m-l [&_p]:pb-space-review-order">
            <p>Address,Apt.</p>
            <p>Postcode,City</p>
            <p>Denmark</p>
          </div>
          <div
            class="flex border-t-2 border-line-checkout pt-space-m-l justify-between pb-space-review-order"
          >
            <h6>payment details</h6>
            <img src={Edit} alt="edit" />
          </div>
          <div
            class="[&_p]:pb-space-review-order border-b-2 pb-space-m-l border-line-checkout"
          >
            <p>Card: xxxx xxxx xx68</p>
            <p>MM/YY</p>
            <p>Cardholder name</p>
          </div>
        </div>
        <div
          class="grid place-content-center pt-space-xl-2xl md:place-content-start"
        >
          <Button2 text="place order" link="/complete/" />
        </div>
      </div>
    </section>
  </div>

  <Footer />

  <style>
    @media screen and (max-width: 1024px) {
      .desktop-header {
        display: none;
      }
    }
    /*@media screen and (min-width: 1024px) {
      .exp-wrapper {
        width: 40%;
      }
    }*/
    .navigation {
      letter-spacing: var(--letter-spacing-button);
      line-height: var(--line-height-button);
      font-weight: var(--font-weight-button);
      font-size: var(--font-size-body-btn);
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
    }
    .navigation:hover:after {
      transition: 400ms ease-in-out;
      transform: scaleX(1);
      transform-origin: bottom center;
    }

    .navigation:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: black;
    }
    .exp-wrapper {
      position: relative;
      border: 2px solid;
      border-color: var(--form-inputandlabel);
      display: flex;
      width: 60%;
      justify-content: space-around;
      height: 42px;
      line-height: 36px;
      font-size: 24px;
    }

    .exp-wrapper:after {
      content: "/";
      position: absolute;
      left: 50%;
      margin-left: -4px;
      color: #aaa;
    }

    input.exp {
      float: left;

      border: 0;

      outline: none;
      appearance: none;
      font-size: 14px;
    }

    .regular-checkbox {
      -webkit-appearance: none;
      background-color: white;
      border: 1.5px solid black;
      padding: 10px;
      display: inline-block;
      position: relative;
      width: 5px;
      height: 5px;
    }

    .regular-checkbox:checked {
      background-color: var(--color-primary-button-blue);
      border: 1.5px solid var(--color-primary-button-blue);
    }

    .regular-checkbox:checked:after {
      content: url("../svg/icons/checked.svg");
      position: absolute;
      bottom: 0px;
      left: 4px;
    }
    label {
      font-family: var(--heading-proxima-nova);
      font-size: var(--font-size-body-btn);

      color: var(--form-inputandlabel);
      padding-bottom: var(--space-3xs);
      padding-top: var(--space-s);
    }
    input {
      border: solid 2px;
      border-color: var(--form-inputandlabel);
      font-size: var(--font-size-body-small);
      padding: var(--space-2xs);
    }
    input:focus {
      outline: none;
      border-color: var(--color-primary-button-blue);
    }
    
    .details {
      padding-top: var(--space-xl);
    }
    .btn {
      color: var(--color-white);
      background-color: var(--color-button-dark-grey);
      padding: var(--secondary-btn-x-padding) var(--secondary-btn-y-padding);
      letter-spacing: var(--letter-spacing-button);
      line-height: var(--line-height-button);
      font-weight: var(--font-weight-button);
      font-size: var(--font-size-body-btn);
      cursor: pointer;
      margin-top: var(--space-xl-2xl);
      border: none;
    }
    .btn:hover {
      background-color: var(--color-black);
      transition: 0.4s ease-in-out;
    }
    .hidden {
      display: none;
    }
  </style>

  <script is:inline>
    /*document.addEventListener("DOMContentLoaded", check);

  function check(event) {
    event.preventDefault();
  }*/

    document.querySelector(".continue-one").addEventListener("click", nextOne);
    document.querySelector(".continue-two").addEventListener("click", nextTwo);

    document.querySelector(".plus").addEventListener("click", plusOne);
    document.querySelector(".plus2").addEventListener("click", plusTwo);

    function nextOne() {
      document.querySelector(".payment").classList.remove("hidden");
      document.querySelector(".shipping-details").classList.add("hidden");
      document.querySelector(".minus").classList.add("hidden");
      document.querySelector(".plus").classList.remove("hidden");
      document.querySelector(".minus2").classList.remove("hidden");
      document.querySelector(".plus2").classList.add("hidden");
    }

    function nextTwo() {
      document.querySelector(".payment").classList.add("hidden");
      document.querySelector(".order").classList.remove("hidden");
      document.querySelector(".minus2").classList.add("hidden");
      document.querySelector(".plus2").classList.remove("hidden");
      document.querySelector(".minus3").classList.remove("hidden");
      document.querySelector(".plus3").classList.add("hidden");
    }

    function plusOne() {
      document.querySelector(".payment").classList.add("hidden");
      document.querySelector(".shipping-details").classList.remove("hidden");
      document.querySelector(".minus").classList.remove("hidden");
      document.querySelector(".plus").classList.add("hidden");
      document.querySelector(".minus2").classList.add("hidden");
      document.querySelector(".plus2").classList.remove("hidden");
    }
    function plusTwo() {
      document.querySelector(".payment").classList.remove("hidden");
      document.querySelector(".order").classList.add("hidden");
      document.querySelector(".minus2").classList.remove("hidden");
      document.querySelector(".plus2").classList.add("hidden");
      document.querySelector(".minus3").classList.add("hidden");
      document.querySelector(".plus3").classList.remove("hidden");
    }

    /*EXP DATE*/
    const monthInput = document.querySelector("#month");
    const yearInput = document.querySelector("#year");

    const focusSibling = function (target, direction, callback) {
      const nextTarget = target[direction];
      nextTarget && nextTarget.focus();
      // if callback is supplied we return the sibling target which has focus
      callback && callback(nextTarget);
    };

    // input event only fires if there is space in the input for entry.
    // If an input of x length has x characters, keyboard press will not fire this input event.
    monthInput.addEventListener("input", (event) => {
      const value = event.target.value.toString();
      // adds 0 to month user input like 9 -> 09
      if (value.length === 1 && value > 1) {
        event.target.value = "0" + value;
      }
      // bounds
      if (value === "00") {
        event.target.value = "01";
      } else if (value > 12) {
        event.target.value = "12";
      }
      // if we have a filled input we jump to the year input
      2 <= event.target.value.length &&
        focusSibling(event.target, "nextElementSibling");
      event.stopImmediatePropagation();
    });

    yearInput.addEventListener("keydown", (event) => {
      // if the year is empty jump to the month input
      if (event.key === "Backspace" && event.target.selectionStart === 0) {
        focusSibling(event.target, "previousElementSibling");
        event.stopImmediatePropagation();
      }
    });

    const inputMatchesPattern = function (e) {
      const { value, selectionStart, selectionEnd, pattern } = e.target;

      const character = String.fromCharCode(e.which);
      const proposedEntry =
        value.slice(0, selectionStart) + character + value.slice(selectionEnd);
      const match = proposedEntry.match(pattern);

      return (
        e.metaKey || // cmd/ctrl
        e.which <= 0 || // arrow keys
        e.which == 8 || // delete key
        (match && match["0"] === match.input)
      ); // pattern regex isMatch - workaround for passing [0-9]* into RegExp
    };

    document.querySelectorAll("input[data-pattern-validate]").forEach((el) =>
      el.addEventListener("keypress", (e) => {
        if (!inputMatchesPattern(e)) {
          return e.preventDefault();
        }
      })
    );
  </script>
</Layout>
