---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import BurgerMenu from "../components/BurgerMenu.astro"
import Button2 from "../components/Button2.astro"
import WinePic from "../img/red.webp"
import Lamb from "../svg/wine-icons/red-mobile/sheep.svg"
import Sweet from "../svg/wine-icons/red-mobile/sweet.svg"
import Vegetable from "../svg/wine-icons/red-mobile/vegetable.svg"
import Pork from "../svg/wine-icons/red-mobile/pork.svg"
import Beef from "../svg/wine-icons/red-mobile/beef.svg"
import RedWine2 from "../images-wine/redwine.webp"
---

<Layout>
<Header />
<!-- breadcrumbs -->
<div class="flex flex-wrap gap-breadcrumbs-gap px-body-padding-x py-breadcrumbs-y">
    <a href="/productlist/" class="overlineText">Shop</a>
    <p class="overlineText">/</p>
    <a href="/productlist/" class="overlineText">Red wines</a>
    <p class="overlineText">/</p>
    <a href="/redwine/" class="overlineText border-b border-black">Galia Villages 2014</a>
</div>
<section class="flex flex-col md:flex-row">
<div class=" md:w-[100vw] border-y-2 md:border-r border-red-wine-primary flex justify-center">
    <img class="py-wine-padding-y h-[30rem] md:h-[44rem]" src={WinePic} alt="Galia Villages 2014">
</div> 
<div class="flex flex-col md:border-t-2 md:border-l border-red-wine-primary md:w-[50vw]">
    <div class=" bg-red-wine-secondary  flex flex-col gap-space-m py-space-l px-body-padding-x md:px-space-l border-b-2 border-b-red-wine-primary text-red-wine-primary">
    <div class="flex flex-col gap-space-3xs">
        <h4>Galia Villages 2014</h4>
        <p class="overlineText">Spain, Ribera del Duero, Castilla y León</p>
    </div>
    <div class="">
        <p>A juicy, smooth and well-balanced wine, with cherry, black currant, black pepper and cocoa flavours. 
         </p>
         <p>It has a deep ruby colour and a wonderful bouquet and the palate is fruity, rich, round and smooth with velvety tannins and a pleasant acidity.
        </p>
    </div>
    <div class="flex justify-between items-center">
        <h5>395 DKK</h5>
        <div class="flex flex-col md:flex-row gap-space-xs items-center">
            <label for="quantity" class="uppercase">Qty:</label>
            <input type="number" id="quantity" min="1" name="quantity" value="1" inputmode="numeric" class="self-end text-black p-2 md:p-3 w-24 text-center border border-black">
            <Button2 link="/cart/" text="Add to cart" />
        </div>
    </div>
    </div>
<div class="flex">
        <div class="md:w-[50vw] bg-red-wine-secondary text-red-wine-primary border-b-2 border-red-wine-primary flex flex-col gap-space-m px-body-padding-x md:px-space-m items-center py-space-l">
            <div class="flex md:flex-col gap-space-m md:gap-0">
                <div class="flex flex-col gap-space-2xs w-[50%] md:w-full">
                    <p class="bodySmall"><span class="font-bold pr-1">Colour:</span>Red</p>
                    <p class="bodySmall"><span class="font-bold pr-1">Winery:</span>Jérôme Bougnaud & El Regajal</p>
                    <p class="bodySmall"><span class="font-bold pr-1">Grapes:</span>93% Tempranillo 7% Garnacha</p>
                    <p class="bodySmall"><span class="font-bold pr-1">Serving:</span>18 degrees</p>
                </div>
                <div class="flex flex-col gap-space-2xs w-[50%] md:w-full md:pt-space-2xs">
                    <p class="bodySmall"><span class="font-bold pr-1">Size:</span>75 cl</p>
                    <p class="bodySmall"><span class="font-bold pr-1">ABV:</span> 15%</p>
                    <p class="bodySmall"><span class="font-bold pr-1">Winemaking:</span>Fermentation with natural yeast in concrete vessels.</p>
                    <p class="bodySmall"><span class="font-bold pr-1">Sustainable:</span>Organic and biodynamic (not certified)</p>
                </div>
            </div>
            <div class="flex gap-space-xs justify-center">
                <img src={Lamb} alt="Lamb icon">
                <img src={Sweet} alt="Sweet icon">
                <img src={Vegetable} alt="Vegetable icon">
                <img src={Pork} alt="Porkicon">
                <img src={Beef} alt="Beef icon">
            </div>
        </div>
        <img src={RedWine2} alt="Red wine and grapes" class="mobileNoShow w-[50%]  border-l-2  border-b-2 border-red-wine-primary object-cover">
    </div>
</div>
</section>
<!-- Details desktop  -->
<section class="flex mobileNoShow">
    <div class="w-[50vw] bg-accent-grey px-body-padding-x py-space-xl border-r border-red-wine-primary">
        <h4 class="pb-space-l">About the winery</h4>
        <p class="pb-space-xs">Le Domaine Du Grand Jacquet is located between Carpentras and Mazan municiplities, 
            on the slopes of the Ventoux mountain in the Rhône valley.</p>
            <p class="pb-space-xs">The domain is owned by Patricia and Joël Jacquet who cultivate only 15 hectares of organic vines divided into small plots located in the middle of the wild scrubland, pines, truffle oaks and olive trees and a multitude of flowers and aromatic plants growing at the foot of the vines. 
                The soil is rich in clay and limestone, which cools the soil and keeps its moisture in the hot climate. </p>
                <p class="pb-space-xs">Patricia and Joël take care of each plot separately in accordance to the seasons and the Maria Thun Biodynamic Lunar Calendar. 
                    The Maria Thun Biodynamic Lunar Calendar is an approach to agriculture and horticulture which uses the waxing and waning of the moon and the position of the planets and constellations to determine when to sow and harvest.</p>
                    <p class="pb-space-xs">The grapes are harvested by hand, striving to hit the exact right time of maturity, which differs from one plot to the next. 
                        The grapes are then fermented individually with respect to each terroir as closely as possible. </p>
                        <p class="pb-space-xs">The couple's passionate, hard work shines through in the personality and quality of their wines. </p>
    </div>
    <div class="w-[50vw] px-body-padding-x py-space-xl border-l border-red-wine-primary">
        <h4 class="pb-space-l">Shipping</h4>
        <p class="pb-space-xs">We offer FREE SHIPPING in Denmark for purchases over 500,- kr.
            For orders under that the shipping costs 59,- kr.</p>
            <h6 class="pb-space-xs" >Click and collect</h6>
            <p class="pb-space-xs">You can choose to pick up your order in our wine store on 
                Kompagnistræde 28 in Copenhagen.
                </p>
                <p class="pb-space-xs">For more details, international shipping and the full shipping 
                    and returns policy, please read more on <a href="#" class="border-b border-black">Shipping & Returns</a>.
                </p>
    </div>
</section>
<!-- Details mobile-->
<section class="md:hidden">
    <details class="border-b-2 border-red-wine-primary px-body-padding-x">
        <summary class="py-space-xs list-outside">
            <h4 class="ml-space-xs">About the winery</h4>
        </summary>
        <div class="py-space-xs flex flex-col gap-space-xs">
            <p>Le Domaine Du Grand Jacquet is located between Carpentras and Mazan municiplities, on the slopes of the Ventoux mountain in the Rhône valley. 
                The domain is owned by Patricia and Joël Jacquet who cultivate only 15 hectares of organic vines divided into small plots located in the middle of the wild scrubland, 
                pines, truffle oaks and olive trees and a multitude of flowers and aromatic plants growing at the foot of the vines. The soil is rich in clay and limestone, which cools the soil and keeps its moisture in the hot climate. 
            </p>
            <p>Patricia and Joël take care of each plot separately in accordance to the seasons and the Maria Thun Biodynamic Lunar Calendar. 
                The Maria Thun Biodynamic Lunar Calendar is an approach to agriculture and horticulture which uses the waxing and
                 waning of the moon and the position of the planets and constellations to determine when to sow and harvest.
                </p>
        </div>
    </details>
    <details class="border-b-2 border-red-wine-primary px-body-padding-x">
        <summary class="py-space-xs list-outside">
            <h4 class="ml-space-xs">Shipping</h4>
        </summary>
        <div class="py-space-xs flex flex-col gap-space-xs">
            <p>We offer FREE SHIPPING in Denmark for purchases over 500,- kr.
                For orders under that the shipping costs 59,- kr.
            </p>
            <h6 >Click and collect</h6>
            <p>You can choose to pick up your order in our wine store on 
                Kompagnistræde 28 in Copenhagen.
                </p>
                <p>For more details, international shipping and the full shipping 
                    and returns policy, please read more on <a href="#" class="underline">Shipping & Returns</a>.
                </p>
        </div>
    </details>
</section>
<Footer />
<BurgerMenu />
</Layout>


<style>
    a.overlineText:hover{
        border-bottom: 1px solid black;
        transition: 100ms ease-in-out;
    }

    input:focus{
        outline:none;
    }

                /* DETAILS PLUS MINUS */

details > summary {
    list-style-type: "+";
    font-size: var(--font-size-h4);
  }

  details[open] > summary {
    list-style-type: "-";
  }

</style>