---
import Facebook from "../svg/social/facebook.svg";
import Instagram from "../svg/social/instagram.svg";
import Pinterest from "../svg/social/pinterest.svg";
---

<footer>
  <div
    class="desktop-footer hidden md:flex md:justify-between px-footer-x py-footer-y"
  >
    <div>
      <div class="pb-footer-gaps">
        <h6 class="pb-footer-h6-pb">Opening Hours</h6>
        <p>Tuesday - Thursday 12.00-18.00</p>
        <p>Friday 12.00-19.00</p>
        <p>Saturday 12.00-17.00</p>
      </div>

      <div class="pb-footer-gaps">
        <h6 class="pb-footer-h6-pb">Address</h6>
        <p>The Great Wine Experience</p>
        <p>Kompagnistræde 28</p>
        <p>1208 Copenhagen K, Denmark</p>
      </div>

      <div>
        <p class="bodySmall">© 2023 Linnea, Evelina & Thordis</p>
      </div>
    </div>

    <div class="pb-footer-gaps">
      <h6 class="pb-footer-h6-pb">Links</h6>
      <ul class="flex flex-col gap-[1.3rem]">
        <li><a class="fine-line" href="">Shipping & Returns</a></li>
        <li><a class="fine-line" href="">Terms & Conditions</a></li>
        <li><a class="fine-line" href="">Payment Methods</a></li>
        <li><a class="fine-line" href="/privacy/">Privacy Policy</a></li>
        <li><a class="fine-line" href="/sitemap/">Sitemap</a></li>
      </ul>
    </div>

    <div>
      <div class="pb-footer-gaps">
        <h6 class="pb-footer-h6-pb">Contact</h6>
        <a href="mailto:natalie@tgwe.dk">natalie@tgwe.dk</a>
        <p>+45 50 12 83 81</p>
      </div>

      <div>
        <h6 class="pb-footer-h6-pb">Follow us</h6>
        <div class="flex gap-4">
          <a href="https://www.facebook.com/thegreatwineexperience"
            ><img src={Facebook} alt="facebook" />
          </a>
          <a href="https://www.instagram.com/the.great.wine.experience.dk/"
            ><img src={Instagram} alt="instagram" />
          </a>
          <a href="https://www.pinterest.dk/thegreatwineexperience/_created/"
            ><img src={Pinterest} alt="pinterest" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-footer flex flex-col md:hidden px-footer-x py-footer-y">
    <div class="pb-footer-gaps">
      <h6 class="pb-footer-h6-pb">Opening Hours</h6>
      <p>Tuesday - Thursday 12.00-18.00</p>
      <p>Friday 12.00-19.00</p>
      <p>Saturday 12.00-17.00</p>
    </div>

    <div class="pb-footer-gaps">
      <h6 class="pb-footer-h6-pb">Address</h6>
      <p>The Great Wine Experience</p>
      <p>Kompagnistræde 28</p>
      <p>1208 Copenhagen K, Denmark</p>
    </div>

    <div class="pb-footer-gaps">
      <h6 class="pb-footer-h6-pb">Links</h6>
      <ul class="flex flex-col gap-[1.3rem]">
        <li><a class="fine-line" href="">Shipping & Returns</a></li>
        <li><a class="fine-line" href="">Terms & Conditions</a></li>
        <li><a class="fine-line" href="">Payment Methods</a></li>
        <li><a class="fine-line" href="/privacy/">Privacy Policy</a></li>
        <li><a class="fine-line" href="/sitemap/">Sitemap</a></li>
      </ul>
    </div>

    <div class="pb-footer-gaps">
      <h6 class="pb-footer-h6-pb">Contact</h6>
      <a class="underline" href="mailto:natalie@tgwe.dk">natalie@tgwe.dk</a>
      <p>+45 50 12 83 81</p>
    </div>

    <div class="pb-footer-gaps">
      <h6 class="pb-footer-h6-pb">Follow us</h6>
      <div class="flex gap-4">
        <a href="https://www.facebook.com/thegreatwineexperience"
          ><img class="w-[1.25rem]" src={Facebook} alt="facebook" />
        </a>
        <a href="https://www.instagram.com/the.great.wine.experience.dk/"
          ><img class="w-[1.25rem]" src={Instagram} alt="instagram" />
        </a>
        <a href="https://www.pinterest.dk/thegreatwineexperience/_created/"
          ><img class="w-[1.25rem]" src={Pinterest} alt="pinterest" />
        </a>
      </div>
    </div>
    <div>
      <p class="bodySmall">© 2023 Linnea, Evelina & Thordis</p>
    </div>
  </div>
</footer>

<style>
  .fine-line{
        position: relative;
    }
    .fine-line:hover:after{
        transition: 400ms ease-in-out;
        transform: scaleX(1);
        transform-origin: bottom center;
    }

    .fine-line:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: white;
    }
</style>
