---
import Logo from '../svg/logo/logo.svg'
import Search from '../svg/header-icons/search.svg'
import User from '../svg/header-icons/user.svg'
import Cart from '../svg/header-icons/cart.svg'
import "../styles/global.css"
import Burger from '../svg/header-icons/burger.svg'
import BurgerMenu from './BurgerMenu.astro'



---
<header class="relative">

    <div class="language absolute flex right-4 z-10 top-4 gap-1 bodySmall items-center lg:bodyNormal">
        <a href="">En</a>
        <p>/</p>
        <a href="">Da</a>
    </div>

    <div class="desktop-header hidden lg:flex lg:justify-between lg:w-full lg:items-center px-header-x pt-header-y">
        <div class="pr-20">
            <a href="/"><img src={Logo} alt="logo"/></a>
        </div>
    
        <div class="pl-[2rem]">
            <nav>
                <ul class="flex gap-10">
                    <li><a class="navigation fine-line" href="/productlist/">Shop</a></li>
                    <li><a class="navigation fine-line"  href="/winetastings/">Wine Tastings</a></li>
                    <li><a class="navigation fine-line"  href="/winesubscriptions/">Wine Subscription</a></li>
                    <li><a class="navigation fine-line"  href="/about/">About</a></li>
                </ul>
            </nav>
        </div>
    
        <div class="header-icons flex gap-4">
            
            <img class="w-[1.375rem] searchbar cursor-pointer " src={Search} alt="search"/>
            <img class="w-[2.5rem]" src={User} alt="user"/>
            <a class="flex" href="/cart/"><img class="w-[1.875rem]" src={Cart} alt="cart"/></a>
        </div>
       
    </div>


   <div class="hidden lg:flex justify-end pr-header-x">
        <form id="search" class="invisible" action="/action_page.php">
            <label class="hidden" for="search"> Search</label>
            <input class="border-b-2 border-accent-red-border w-[200px] text-accent-red-border" type="text" placeholder="Search.." name="search" id="search">
          </form>
   </div>


    <div class="relative">
        <div class="mobile-header lg:hidden flex justify-between w-full items-center px-header-x py-header-y">
            <div>
                <a href="/"><img src={Logo} alt="logo"/></a>
            </div>
    
            <div class="header-icons flex">
                <img class="w-[2.25rem] hamburger" src={Burger} alt="burger menu"/>
            </div>
        </div>
        <BurgerMenu />
    </div>
</header>

<script is:inline>

    document.addEventListener("DOMContentLoaded", init)
    document.querySelector('.searchbar').addEventListener("click", searchbar)

    
    
    function init(){
        console.log("hee")
        document.querySelector('.hamburger').addEventListener('click', () => {
            document.querySelector('.burgerbox').classList.remove('hidden');
        document.querySelector('.close').addEventListener('click', () => {
                document.querySelector('.burgerbox').classList.add('hidden');
              })
          });
      } 
      
      function searchbar() {
  var x = document.getElementById("search");
  if (x.style.visibility === "visible") {
    x.style.visibility = "hidden";
  } else {
    x.style.visibility = "visible";
  }

}
      


        </script>

<style>
input:focus {
    outline: none;

}

#search input[type=text] {
  border-bottom: 2px solid var(--color-accent-red-700);
  color:var(--color-accent-red-700);
}
    a{
    color:var(--color-accent-red-700);
    text-transform: uppercase;
    font-size: var(--font-size-body-btn);
}

.fine-line{
        position: relative;
    }
    .fine-line:hover:after{
        transition: 400ms ease-in-out;
        transform: scaleX(1);
        transform-origin: bottom center;
    }

    .fine-line:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: var(--color-accent-red-700);
    }
.language{
    color:var(--color-accent-red-700);
    z-index:100;
    cursor:pointer;
}

.language a:hover{
    border-bottom: solid 2px var(--color-accent-red-700);
    transition: 150ms ease-in-out;
}

.language{
    color:var(--color-accent-red-700);
}

a{
    cursor: pointer;
}


</style>